VITE_GITHUB_USERNAME=""
VITE_DEV_NAME=""
VITE_DEV_DESCRIPTION=""
VITE_DEV_ROLE=""
VITE_DEV_GITHUB_LINK="https://github.com/xxxxx"
VITE_DEV_TWITTER_LINK="https://twitter.com/xxxxx"
VITE_DEV_LINKEDIN_LINK="https://www.linkedin.com/in/xxxxxxx-xxx/"
VITE_DEV_LOGO="xxxxx"
# set "starts" if you want to visualize repos with starts, like:
# VITE_HIGHLIGHTED_REPO_NAMES="starts"
VITE_HIGHLIGHTED_REPO_NAMES="name_1,name_2,name_3"